.main_container {
    display: flex;
    width: 65%;
    margin: 20px auto;
    flex-direction: column;
}

.product_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product_container h5 {
    font-size: 25px;
    padding: 2rem;
    text-align: center;
}

.product_container h3 {
    background: #61dafb;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin: 2rem;
}

.product_card_container{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem;
    margin: auto;
}

.product_card{
    max-height: 18rem;
    min-width: 15rem;
    height: 18rem;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0,0,0, .1);
    margin-right: 2rem;
}

.product_card:hover{
    transform: scale(.98);
}

@media screen and (max-width: 620px) {
    .main_container {
        width: 80%;
    }
}