.shipping {
    padding: 0;
}

.shipping hr {
    margin: 0 !important;
    border: 1px solid #dcdcdc;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.proceed_button {
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
    background: #fbb419;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
}

.address_container {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.address_container span {
    margin-left: 1rem;
}

.address_container span p {
    padding: .5rem 0;
}

.selected_address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected_address small{
    font-size: 1rem!important;
}

.edit {
    margin-left: auto;
    background: #fbb419;
    color: #ffffff;
    padding: .2rem .8rem;
    font-size: 12px;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
}

.button_area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.add_new,
.cancel {
    padding: .6rem 2rem;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.add_new:focus {
    outline: none;
}

.add_address {
    padding: 1rem;
    background: #f3f4f6;
    margin-top: 1rem;
}

.form_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.form_inputs input {
    padding: .7rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    /*width: 100%;*/
    margin-top: .5rem;
}

.address_input {
    width: 100%;
}

.form_inputs input:focus {
    outline: none;
}

.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: .5rem;
}

.types input {
    margin-right: .5rem;
}

.add_address button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #6495ed;
    color: #ffffff;
    padding: .5rem 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.address_info {
    margin-left: 1rem;
}

.address_info div {
    display: flex;
    align-items: center;
}

.full_name,
.address_type {
    margin-right: 1rem;
}

.full_name {
    font-weight: bold;
}

.address_type {
    background: #dddddd;
    padding: .1rem .5rem;
    font-size: 12px;
    border-radius: 2px;
}

.add_address_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_address_area button{
    background: #fbb419;
    color: #ffffff;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.add_address_area button:focus{
    outline: none;
}

.address_phone {
    font-size: 14px;
}

.add_address button:focus {
    outline: none;
}

@media screen and (max-width: 524px) {
    .form_inputs {
        grid-template-columns: 1fr;
    }
}
