.latest_container {
    margin: 0 auto 1rem auto;
    max-width: 65%;
}

.title {
    margin: 3rem 0;
    text-align: center;
    color: #838383;
}

.title h5 {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 0;
    font-weight: 500;
}

.title h5::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    width: 60%;
    height: .2rem;
    z-index: 1;
}

.content_area {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    margin: auto;
}

.content_area li {
    display: flex;
    justify-content: center;
}

.show_more{
    padding-bottom: 1rem;
}

.btn_show_more {
    text-align: center;
    padding: 3rem;
}

.btn_show_more a{
    background: rgb(241, 196, 15);
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    padding: .7rem 2rem;
}

.btn_show_more:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1478px) {
    .content_area {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}

@media screen and (max-width: 1178px) {
    .latest_container {
        max-width: 80%;
    }
}

@media screen and (max-width: 1098px) {
    .latest_container {
        max-width: 90%;
    }

    .content_area {
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    }
}

@media screen and (max-width: 878px) {
    .content_area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 578px) {
    .content_area {
        grid-template-columns: repeat(2, 1fr);
    }
}