.org_container button {
    padding: .6rem 2rem;
    background: #ff0000;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.org_container button:focus {
    outline: none;
    border: none;
}

.organization_table {
    margin-top: 1rem;
}

.organization_table tr {
    border-collapse: collapse;
}

.organization_table tr th {
    text-align: left;
    border: 1px solid #dcdcdc;
    background: #dcdcdc;
}

.organization_table tr th {
    padding: .5rem;
    border-right: 1px solid #f3f4f6;
}

.organization_table tr td {
    padding: 1rem;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}

.organization_table tr th:last-child,
.organization_table tr td:last-child {
    border-right: 1px solid gainsboro;
}

.organization_table tr:last-child th,
.organization_table tr:last-child td {
    border-bottom: 1px solid gainsboro;
}

.organization_table tr td {
    font-weight: 300;
}

.organization_table tr th {
    font-weight: 700;
}

.organization_table tr th:nth-child(2) {
    min-width: 10rem;
}

.organization_table tr th:nth-child(3) {
    min-width: 10rem;
}

.organization_table tr th:nth-child(4) {
    min-width: 10rem;
}

.organization_table tr th:nth-child(5) {
    min-width: 6rem;
    max-width: 6rem;
}

.organization_table tr th:nth-child(6) {
    min-width: 11rem;
}

.organization_table tr th:nth-child(7) {
    min-width: 10rem;
}
