.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #dddddd;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: .8rem;
}

.pagination li:not(:last-child) {
    margin-right: .3rem;
}

.pagination li:not(.active_page):hover {
    background-color: #fbb419;
    color: #ffffff;
    border: 1px solid #fbb419;
    cursor: pointer;
}

.active_page {
    background-color: #256eff;
    color: #ffffff;
    border: 1px solid #256eff;
}

@media screen and (max-width: 620px) {
    .pagination li{
        width: 1.5rem;
        height: 1.5rem;
    }
}