.payment {
    padding: 0
}

.payment hr {
    border: 1px solid #dcdcdc;
    margin: 0 !important;
}

.options {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: flex-start;
}

.options span label {
    margin-left: .5rem;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.payment_buttons {
    max-height: 4.5vh;
    text-align: center;
    height: 4.5vh;
}

.mpesa_btn{
    border-radius: 2rem;
    height: 40px;
    width: 100%;
    border: 1px solid #008000;
}

.payment_buttons img {
    border: 1px solid #dcdcdc;
    width: 100%;
    height: 100%;
    padding: .3rem 0;
    border-radius: 2rem;
    cursor: pointer;
}

.make_request{
    border-radius: 2rem;
    padding: .5rem 1rem;
    background: #008000;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    margin-top: 1rem;
    border: none;
}

.make_request:disabled{
    cursor: not-allowed;
    background: #636363;
}

.message_area{
    padding: 1rem;
    margin-top: 1rem;
    background: #D4EDDA;
    border-radius: 5px;
}

.errors {
    background: rgb(248, 215, 218);
    margin: .5rem auto;
    padding: .5rem 1rem;
    color: #ff0000;
    border-radius: 5px;
    width: 100%;
    text-align: left!important;
}

.errors li{
    list-style: inherit;
}

@media screen and (max-width: 878px) {
    .options {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 458px) {
    .options {
        flex-direction: column;
        grid-gap: .5rem;
    }

    .options span {
        margin: .5rem 0;
    }
}
