.product {
    border-radius: .4rem;
    width: 220px;
    min-width: 220px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    padding: 1px;
}

.product:not(:last-child) {
    margin-right: 1rem;
}

.product:hover {
    transform: scale(.99);
}

.product_header {
    height: 13rem;
    background-color: #f6f2f1;
    z-index: 0;
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    position: relative;
    border-top: 1px solid #dcdcdc10;
    border-right: 1px solid #dcdcdc10;
    border-left: 1px solid #dcdcdc10;
    border-bottom: 1px solid #dcdcdc10;
    transition: all 300ms ease-in-out;
}

.offer {
    position: absolute;
    text-transform: uppercase;
    top: 0;
    padding: .6rem;
    background: #fbb419;
    color: #ffffff;
    z-index: 100;
    border-top-left-radius: .4rem;
    border-bottom-right-radius: 1rem;
}

.in_stock, .out_stock {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    padding: .1rem .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.in_stock {
    background: #32cd32;
}

.out_stock {
    background: #838383;
}

.product_header img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    height: 100%;
}

.product_footer {
    text-align: left;
    padding: .7rem 0 .2rem .5rem;
}

.product_footer h5 {
    font-size: 1rem;
    color: #838383;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product_header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product_header .icons h3 {
    background-color: #ffffff;
    font-size: 1.3rem;
    display: block;
    border-radius: 50%;
    padding: .6rem;
    line-height: .6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product_header .icons h3:not(:last-child) {
    margin-bottom: .8rem;
}

.product_header .icons h3:hover {
    background: #ff0000;
    color: #ffffff;
}

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.ratings {
    color: rgb(241, 196, 15);
    padding: .5rem 0;
    font-size: .9rem;
    font-weight: 500;
}

.price {
    color: #242424;
    font-size: .9rem !important;
    font-weight: 500 !important;
}

.price span {
    color: red;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 1rem;
}

.product:hover .product_header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1680px) {
    .product{
        width: 200px;
        min-width: 200px;
    }
}

@media screen and (max-width: 1328px) {
    .product_header {
        height: 10rem;
    }
}

@media screen and (max-width: 748px) {
    .product {
        width: 150px;
        min-width: 150px;
    }

    .product:not(:last-child) {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 478px) {
    .product {
        width: 120px;
        min-width: 120px;
    }
}

@media screen and (max-width: 468px) {
    .product{
        width: 150px;
        min-width: 150px;
    }
}

@media screen and (max-width: 378px){
    .product{
        width: 100px;
        min-width: 100px;
    }

    .product_header{
        height: 6rem;
    }

    .offer{
        padding: .4rem;
        font-size: 12px;
    }
}