.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0 solid #dcdcdc;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, .75);
    transition: transform 100ms ease-in;
    max-width: 220px!important;
    padding: 0!important;
    margin-right: 1rem!important;
}

.card:hover {
    transform: scale(1.07);
}

.card_image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    display: inline-block;
}

.card_info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.price {
    color: #242424;
    font-size: 1rem;
    font-weight: 500 !important;
}

.price span {
    color: red;
    text-decoration: line-through;
    font-weight: bold;
    font-size: .9rem;
    margin: 0 .5rem;
}

.card_header {
    background-color: #f6f2f1;
    z-index: 0;
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    position: relative;
    border-top: 1px solid #dcdcdc10;
    border-right: 1px solid #dcdcdc10;
    border-left: 1px solid #dcdcdc10;
    border-bottom: 1px solid #dcdcdc10;
    transition: all 300ms ease-in-out;
}

.card_info > a > h2 {
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1.5rem;
    text-transform: capitalize;
    color: #333333;
}

.card_info > a > h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    text-decoration: line-through;
    margin: 8px 0;
    color: red;
}

.card_info > a > h3 {
    font-size: 16px;
}

.ratings {
    color: rgb(241, 196, 15);
    padding: .5rem 0;
    font-size: .9rem;
    font-weight: 500;
}

.in_stock, .out_stock {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    padding: .1rem .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.in_stock {
    background: #32cd32;
}

.out_stock {
    background: #838383;
}

.offer {
    position: absolute;
    text-transform: uppercase;
    top: 0;
    padding: .6rem;
    background: #fbb419;
    color: #ffffff;
    z-index: 100;
    border-top-left-radius: .4rem;
    border-bottom-right-radius: 1rem;
}

.icons {
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.icons h3 {
    background-color: #ffffff;
    font-size: 1.2rem;
    display: block;
    border-radius: 50%;
    padding: .5rem;
    line-height: .6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.icons h3:not(:last-child) {
    margin-bottom: .8rem;
}

.icons h3:hover {
    background: #ff0000;
    color: #ffffff;
}

.card_header:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.card:hover .card_header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1680px){
    .card{
        max-width: 200px!important;
    }
}

@media screen and (max-width: 1338px) {
    .card_image {
        height: 150px;
    }

    .icons{
        top: 50%;
    }

    .icons h3{
        font-size: .8rem;
    }

    .icons h3:not(:last-child) {
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 1285px){
    .card{
        max-width: 180px!important;
    }
}

@media screen and (max-width: 1160px) {
    .card{
        max-width: 170px!important;
    }
    .card_image {
        height: 120px;
    }
}

@media screen and (max-width: 1098px) {
    .card{
        max-width: 160px!important;
    }
}

@media screen and (max-width: 977px) {
    .card{
        max-width: 150px!important;
    }
}
@media screen and (max-width: 938px) {
    .card{
        max-width: 145px!important;
    }
}

@media screen and (max-width: 888px) {
    .card{
        max-width: 180px!important;
        /*margin: auto;*/
    }
}

@media screen and (max-width: 785px) {
    .card{
        max-width: 165px!important;
    }
}

@media screen and (max-width: 745px) {
    .card{
        max-width: 155px!important;
    }
}

@media screen and (max-width: 702px) {
    .card{
        max-width: 145px!important;
    }
}

@media screen and (max-width: 658px) {
    .card{
        max-width: 135px!important;
    }
}

@media screen and (max-width: 615px) {
    .card{
        max-width: 125px!important;
    }
}

@media screen and (max-width: 639px) {

    .card_image {
        height: 100px;
    }

    .icons h3{
        font-size: .6rem;
    }

    .icons h3:not(:last-child) {
        margin-bottom: .4rem;
    }
}

@media screen and (max-width: 571px) {
    .card{
        max-width: 150px!important;
    }
}

@media screen and (max-width: 517px) {
    .card{
        max-width: 200px!important;
    }
}

@media screen and (max-width: 495px) {
    .card{
        max-width: 180px!important;
    }
}

@media screen and (max-width: 450px) {
    .card{
        max-width: 160px!important;
    }
}

@media screen and (max-width: 378px) {
    .card {
        max-width: 120px!important;
    }
    .offer {
        padding: .4rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 348px){
    .card{
        max-width: 380px!important;
    }
}
