.checkout_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 2rem auto;
    width: 65%;
    min-height: 80vh;
    grid-gap: 1rem;
}

.stepper_buttons{
    display: flex;
    justify-content: space-between;
}

.stepper_buttons button{
    padding: .6rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #fbb419;
    color: #ffffff;
}

.stepper_buttons button:disabled {
    background: #333333;
    color: #ffffff;
    cursor: not-allowed;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
}

.step_number {
    position: absolute;
    color: #ffffff;
    background: #fbb419;
    left: -2rem;
    border-radius: 50% !important;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header_area{
    display: flex;
    padding: .7rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.btn_change{
    border: 1px solid #dcdcdc;
    background: none;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #fbb419;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.content{
    padding: .5rem;
}

.steps,
.order_summary {
    padding: 1rem;
}

.summary_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary_header span{
    background: #fbb419;
    color: #ffffff;
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.summary,
.step {
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    border-radius: 3px;
    margin-bottom: .5rem;
}

.summary h4{
    padding: .5rem;
    font-size: 16px;
    font-weight: 500;
}

.expanded{
    display: flex;
}

.un_expanded{
    display: none;
}

.btn_next{
    background: #fbb419;
    color: #ffffff;
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
    border: none;
    padding: .8rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_next:focus{
    outline: none;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.items {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.items h5 {
    font-weight: 500;
}

.items h5:last-child {
    margin-left: auto;
}

.items h5:nth-child(2) {
    text-align: center;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no_content {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.no_items h2 {
    padding: 1rem 0;
}

.action_buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.complete_button {
    margin: 2rem 0;
    background: #6495ed;
    padding: 1rem;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.complete_button:focus {
    outline: none;
}

.order_content{
    display: flex;
    justify-content: center;
    min-height: 70vh;
    margin: auto;
    align-items: center;
    width: 100%;
}

.order_info{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_info svg{
    font-size: 8rem;
    color: rgb(241, 196, 15);
}

.order_info h3{
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 1rem;
}

.order_info p{
    font-size: 1.4rem;
}

.buttons li, .action_buttons li{
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem 0;
    border-radius: 2rem;
}

.buttons li a, .action_buttons li a{
    color: #ffffff;
    padding: .6rem 2rem;
    /*background: rgb(241, 196, 15);*/
    /*background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);*/
    /*border-radius: 2rem;*/
}

.view_orders{
    background: rgb(241, 196, 15);
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
    cursor: pointer;
    height: 3.3rem;
    display: flex;
    align-items: center;
}

.btn_keep_shopping{
    background: #838383;
    cursor: pointer;
}

.buttons li:hover, .action_buttons li:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1348px) {
    .checkout_container {
        width: 80%;
    }
}

@media screen and (max-width: 998px) {
    .checkout_container {
        width: 90%;
    }
}

@media screen and (max-width: 788px) {
    .checkout_container {
        grid-template-columns: 1fr;
        width: 95%;
    }
}
