.home_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_content h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: normal;
}

.home_button {
    padding: 14px 30px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(241, 196, 15);
    margin: 20px 0;
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
}

.featured_container {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    color: #242424;
    display: flex;
    align-items: center;
    text-align: justify;
}

.welcome_info {
    margin: 20px;
    padding: 10px;
}

.welcome_info p {
    line-height: 1.8;
}

.newsletter {
    width: 100%;
    background: linear-gradient(90deg, rgb(50, 27, 27) 0%, rgb(26, 23, 23) 100%);
    border-radius: 5px;
    padding: 2rem;
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
}

.contact_left, .contact_right {
    flex: 1 1 50%;
}

.contact_left {
    color: #ffffff;
}

.contact_left h1 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.contact_left p {
    font-size: .9rem;
}

.contact_right {
    text-align: right;
}

.contact_right form {
    position: relative;
}

.contact_right input {
    padding: 1.2rem 0;
    border-radius: 1rem;
    border: none;
    width: 80%;
    text-indent: 1rem;
}

.contact_right input:focus {
    outline: none;
}

.contact_right button {
    border-radius: 1rem;
    position: absolute;
    color: #ffffff;
    top: .4rem;
    right: .5rem;
    border: 1px solid rgba(241, 196, 15, 1);
    padding: .7rem 1.5rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
}

.contact_right button:focus {
    outline: none;
}

.contact_right button:hover {
    background-color: transparent;
    color: #242424;
}

.search{
    display: none;
    justify-content: center;
    width: 40%;
    margin: 3rem auto 0 auto;
}

.banner {
    display: flex;
    height: 25rem;
    background: #dcdcdc;
}

.banner_content{
    display: grid;
    width: 70%;
    margin: auto;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
}

.banner_left{
    height: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.banner_left img {
    height: 23rem;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    margin: 0 3rem;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .15);
}

.banner_right {
    align-self: center;
    text-align: center;
    padding: 1.3rem;
}

.banner_right h3 {
    color: #fbb419;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.banner_right h2{
    text-transform: uppercase;
}

.discount {
    color: #ff0000;
}

.btn button {
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
    padding: .7rem 2rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1rem;
    white-space: nowrap;
}

.btn button:focus {
    outline: none;
    border: none;
}

.title {
    margin: 2rem 0 4rem 0;
    text-align: center;
}

.title h5 {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h5::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    width: 60%;
    height: .2rem;
    z-index: 1;
}

.offers {
    text-align: center;
    font-weight: bold;
}

.offer_cards{
    display: flex;
    grid-gap: 2rem;
}

.card{
    padding: 1rem;
    flex-grow: 1;
    border-radius: .5rem;
    height: 9rem;
    border: 1px solid #dcdcdc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1162px){
    .search{
        width: 50%;
    }
}

@media screen and (max-width: 996px) {
    .contact_left h1 {
        font-size: 1.8rem;
    }

    .contact_right button {
        padding: .6rem 1rem;
        top: .6rem;
    }

    .search{
        width: 60%;
    }
}

@media screen and (max-width: 858px) {
    .card h2{
        font-size: 15px;
    }

    .card h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 828px) {
    .newsletter {
        flex-direction: column;
    }

    .contact_right {
        width: 100%;
        text-align: center;
    }

    .contact_right button {
        right: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .featured_container{
        display: none;
    }
    .contact_right input {
        width: 100%;
    }

    .contact_right button {
        right: 1rem;
    }

    .title{
        margin: 1rem 0;
    }

    .banner_content{
        width: 100%;
        grid-gap: .5rem;
        padding: 0 1rem;
    }

    .banner_right h2{
        font-size: 1.2rem;
    }

    .btn button{
        font-size: 12px;
    }
}

@media screen and (max-width: 698px) {
    .search{
        width: 70%;
    }
}

@media screen and (max-width: 567px) {
    .newsletter {
        padding: 1rem;
    }

    .banner{
        height: 15rem;
    }

    .banner_left img{
        height: 13rem;
    }

    .banner_right h3 {
        color: #fbb419;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .search{
        display: flex;
    }

    .offer_cards{
        flex-direction: column;
    }

    .card{
        height: 7rem;
    }
}