.content {
    width: 70%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    align-items: flex-start;
    min-height: 80vh;
}

.categories {
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 0 1rem;
}

.categories h2 {
    font-size: 1.2rem;
    color: #242424;
    margin: 0 0 1rem 0;
}

.categories ul li {
    padding: .4rem;
}

.categories ul li label {
    margin-left: .5rem;
}

.categories ul li label small {
    margin-left: .2rem;
    font-weight: 500;
    font-size: .9rem;
    margin-right: auto;
}

.categories hr {
    border: 1px solid #dddddd;
    margin: 1rem 0;
}

.count{
    background: #838383;
    padding: 0 .9rem;
    color: #ffffff;
    border-radius: 1rem;
}

.filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 0;
}

.filter_header h2 {
    font-size: 1rem;
}

.filter_header button {
    background: #fbb419;
    border-radius: 2rem;
    padding: .4rem 1.5rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

.filter_header button:disabled {
    background: #dddddd;
}

.filter_header button:focus {
    outline: none;
}

.product_item{
    /*background: #838383;*/
    margin-bottom: 1rem;
    margin-right: 10px;
}

.filter_area {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.search_area {
    /*display: none;*/
    justify-content: center;
    width: 100%;
    margin: 0 auto .5rem auto;
}

.options {
    margin-left: auto;
}

.filter_area span {
    margin-right: 1rem;
}

.filter_area select {
    width: 110px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: .45rem .8rem;
    margin-right: 1rem;
}

.filter_area button {
    background: #fbb419;
    padding: .45rem 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.filter_area select,
.filter_area button:focus {
    outline: none;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media screen and (max-width: 1680px) {
    .content{
        width: 80%;
    }
    .filter_area {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1540px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1478px) {
    .content{
        width: 95%;
    }

    .content_area {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}

@media screen and (max-width: 1200px) {
    .content {
        grid-template-columns: 1fr 3fr;
    }

    .content_area {
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    }
}

@media screen and (max-width: 1135px) {
    .search_area form {
        width: 100%;
    }

    .content li {
        width: 200px;
    }
}

@media screen and (max-width: 894px){
    .items{
        padding: 1.5rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 1rem auto;
    }

    .product_items {
        margin: auto;
    }

    .filter_area select {
        width: 100px;
    }

    .filter_area button {
        padding: .45rem 1rem;
    }
}

@media screen and (max-width: 692px){
    .content_area li{
        width: 170px;
    }
}

@media screen and (max-width: 571px){
    .items{
        width: 80%;
        margin: auto!important;
    }
}


@media screen and (max-width: 567px) {
    .search_area {
        display: flex;
    }

    .content_area li {
        width: 120px;
        margin: auto;
    }
}

@media screen and (max-width: 563px) {
    .filter_area {
        width: 100%;
    }
}

@media screen and (max-width: 571px){
    .items{
        width: 85%;
    }
}

@media screen and (max-width: 517px) {
    .items{
        justify-content: center;
    }
}

@media screen and (max-width: 468px) {
    .content_area {
        grid-template-columns: repeat(2, 1fr);
    }

    .content_area li {
        width: 150px;
    }
}

@media screen and (max-width: 378px){
    .product_items{
        width: 100px!important;
    }
}

@media screen and (max-width: 340px){
    .child{
        display: flex;
        justify-content: center;
    }
}
