.content {
    width: 70%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    align-items: flex-start;
    min-height: 80vh;
}

.categories {
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 0 1rem;
}

.categories h2 {
    font-size: 1.2rem;
    color: #242424;
    margin: 0 0 1rem 0;
}

.categories ul li {
    padding: .4rem;
}

.categories ul li label {
    margin-left: .5rem;
}

.categories ul li label small {
    margin-left: .2rem;
    font-weight: bold;
    font-size: .8rem;
}

.categories hr {
    border: 1px solid #dddddd;
    margin: 1rem 0;
}

.filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.filter_header button {
    background: #fbb419;
    border-radius: 2rem;
    padding: .4rem 1.5rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

.filter_header button:disabled{
    background: #dddddd;
}

.filter_header button:focus{
    outline: none;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.filter_area {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.search_area {
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0 auto .5rem auto;
}

.options {
    margin-left: auto;
}

.filter_area span {
    margin-right: 1rem;
}

.filter_area select {
    width: 110px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: .45rem .8rem;
    margin-right: 1rem;
}

.filter_area button {
    background: #fbb419;
    padding: .45rem 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.filter_area select,
.filter_area button:focus {
    outline: none;
}

.product_items {
    margin: 0 0 2rem 0;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
}

@media screen and (max-width: 1680px) {
    .filter_area {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1540px){
    .content{
        width: 70%;
    }
}

@media screen and (max-width: 1420px) {
    .content {
        width: 80%;
    }

    .product_items{
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .content{
        grid-template-columns: 1fr 3fr;
    }

    .product_items{
        width: 100%;
    }
}

@media screen and (max-width: 1135px){
    .search_area form {
        width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    .product_items {
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .filter_area select {
        width: 100px;
    }

    .filter_area button {
        padding: .45rem 1rem;
    }

    .product_items {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 567px){
    .search_area{
        display: flex;
    }
}

@media screen and (max-width: 563px) {
    .filter_area{
        width: 100%;
    }
    .product_items {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}