.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(90deg, rgb(50, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.navigation {
    position: relative;
    padding: 1.3rem 0;
    width: 70%;
}

.nav_center {
    display: grid;
    grid-template-columns: .5fr 3fr 2fr;
    gap: 1rem;
    align-items: center;
    margin: auto;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    padding: 0 2rem;
}

.nav_logo h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.nav_logo span {
    color: red;
}

.menu_icon {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 2rem;
    display: none;
}

.menu_icon svg {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.nav_menu {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.nav_item {
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 1rem;
}

.nav_item > .nav_links:hover {
    color: red;
}

.nav_links {
    color: #ffffff;
}

.nav_icons {
    display: flex;
    color: #ffffff;
    align-items: center;
    margin-right: auto;
}

.nav_icon {
    padding: 0 1rem;
}

.nav_icon button {
    background: rgb(241, 196, 15);
    background: linear-gradient(90deg, rgba(241, 196, 15, 1) 20%, rgba(243, 172, 18, 1) 100%);
    padding: .2rem .7rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav_icon button svg {
    font-size: 25px;
    margin-right: .4rem;
}

.active {
    display: none;
}

.cart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cart h4 {
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    background: red;
    font-size: 15px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    color: #ffffff;
}

.nav_item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item a hr {
    height: 1.2rem;
    margin: 0 .5rem;
}

.search_area{
    width: 100%;
}

@media screen and (min-width: 1421px) {
    .nav_logo {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1420px) {
    .navigation {
        width: 80%;
    }
}

@media screen and (max-width: 1162px) {
    .navigation {
        width: 85%;
    }
}

@media only screen and (max-width: 1073px) {
    .navigation{
        width: 100%;
    }
    .nav_center {
        grid-template-columns: 1fr 3fr .5fr;
    }

    .nav_logo {
        margin-left: 5rem;
    }

    .nav_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5.5rem;
        opacity: 1;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
    }

    .menu_icon {
        display: block;
    }

    .menu_icon:last-child {
        padding-right: 1rem;
    }

    .nav_item {
        padding: 1.3rem;
        margin: 2px;
        text-align: center;
    }

    .nav_item:hover {
        background: #838383;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav_menu.active {
        display: block;
        transition: height .5s ease-in;
    }

    .nav_icon {
        padding: 1rem;
    }

    .nav_icon button {
        margin: auto;
    }
}

@media screen and (max-width: 878px){
    .nav_logo {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 598px) {
    .nav_logo {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .nav_center{
        grid-template-columns: 4fr 1fr;
    }
    .search_area{
        display: none;
    }
}