.products_container h3 {
    padding: 1rem 0;
    font-size: 20px;
}

.top_area {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.search_term {
    width: 100%;
}

.search_term input {
    width: 70%;
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.search_button {
    background: green !important;
    color: #ffffff;
    padding: .6rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.search_term h4 {
    padding: 1rem 0;
}

.items_limit {
    width: 100%;
}

.items_limit h4 {
    padding: 1rem 0;
}

.load_more {
    background: #256eff !important;
    color: #ffffff;
    padding: .6rem 2.5rem !important;
    border-radius: 5px;
    cursor: pointer;
}

.items_limit input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #dcdcdc;
    padding: 1rem;
    margin: 0 1rem;
    width: 70%;
}

.products_container button {
    padding: .6rem 2rem;
    background: #ff0000;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.products_container button:focus {
    outline: none;
    border: none;
}

.search_products {
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.search_area {
    display: flex;
    padding: 0;
}

.search_area input {
    padding: .8rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid gainsboro;
}

.search_area input:focus, .search_term input:focus {
    outline: none;
}

.search_area input {
    margin-right: 1rem;
}

.sec_cat_area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.section p, .category p, .featured p {
    padding: .5rem 0;
}

.section select, .category select, .featured select {
    padding: .6rem .8rem;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid #a5aaad;
}

.section select:focus, .category select:focus, .featured select:focus {
    outline: none;
}

.dialog_title {
    color: #212121;
    font-weight: bold !important;
}

.add_new {
    margin: 1rem 0;
}

.add_new p {
    font-weight: bold;
}

.add_new hr {
    margin: 1rem 0;
}

.top_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.product_description textarea:focus {
    outline: none;
}

.product_description {
    margin: 2rem 0 1rem 0;
}

.product_description h5 {
    padding: 0 0 1rem 0;
}

.product_description textarea {
    width: 100%;
    height: 10rem;
    padding: .6rem .2rem;
    border-radius: .3rem;
    border: 1px solid #a5aaad;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
}

.image_area {
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px dashed #b1b1b1;
    border-radius: 5px;
    background-color: #cbc8c8;
    cursor: pointer;
}

.image_area svg {
    font-size: 3rem;
}

.image_area p {
    font-weight: normal;
    font-size: .8rem;
}

.image_area.highlighted {
    background: #3cb37160;
    padding: 3rem;
}

.add_new form button {
    background: #256eff;
    padding: .6rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: #ffffff;
    margin: 2rem 1rem;
}

.preview_images {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem .5rem;
}

.preview_images img {
    width: 10rem;
    object-fit: cover;
    height: 5rem;
    border-radius: .5rem;
    flex-wrap: wrap;
    margin: auto;
}

.preview_images p {
    color: #ff0000;
    text-align: center;
    padding: 1rem 0 0 0;
}

.upload_button button {
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .4rem 3rem;
    color: #ffffff;
}

.cancel, .save {
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .6rem 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.cancel {
    background: #ff0000;
}

.save {
    background: #256eff;
}

.products_table {
    overflow-x: auto;
}

.errors {
    background: rgb(248, 215, 218);
    margin: 1rem 0;
    padding: 1rem;
    color: #ff0000;
    border-radius: 5px;
}

.upload_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload_button button {
    background: #3ea175;
    display: flex;
    align-items: center;
}

.upload_button button span {
    margin-left: .5rem;
}

.no_image {
    text-align: center;
    color: #ff0000;
    font-weight: normal;
    padding: 1rem;
}

@media screen and (max-width: 1328px) {
    .items_limit input, .search_term input {
        width: 50%;
    }
}

@media screen and (max-width: 1220px) {
    .search_products {
        grid-template-columns: 1fr;
    }

    .items_limit, .search_term {
        width: 100%;
    }

    .items_limit input, .search_term input {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    .top_row {
        grid-template-columns: 1fr 1fr;
    }

    .search_products {
        width: 90%;
    }
}

@media screen and (max-width: 598px) {
    .sec_cat_area {
        grid-template-columns: 1fr;
    }

    .preview_images {
        grid-template-columns: 1fr 1fr;
    }

    .preview_images img {
        width: 7.5rem;
        height: 7rem;
    }

    .preview_container p {
        font-weight: normal;
    }

    .add_new form button {
        width: 90%;
    }

    .top_row {
        grid-template-columns: 1fr;
    }

    .search_products {
        width: 100%;
    }
}

@media screen and (max-width: 528px) {
    .search_term input, .items_limit input {
        width: 60%;
    }
}

@media screen and (max-width: 401px) {
    .search_term input, .items_limit input {
        width: 50%;
    }
}

@media screen and (max-width: 358px) {
    .search_term input, .items_limit input {
        width: 100%;
        margin: 1rem 1rem 1rem 0;
    }

    .search_term {
        display: flex;
        flex-direction: column;
    }

    .preview_images img {
        width: 5.5rem;
        height: 5rem;
    }
}