:root {
    --gutter: 2rem
}

.title {
    margin: 1rem 0 0 0;
    text-align: center;
    color: #838383;
}

.title h5 {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 0;
    font-weight: 500;
}

.title h5::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    width: 60%;
    height: .15rem;
    z-index: 1;
}

.featured_content {
    margin: var(--gutter) auto;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    padding: 0 0 1rem 0;
}

.featured_content > * {
    grid-column: 1/-1;
}

.featured_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
}

.nav_icons {
    background: #dcdcdc;
    border-radius: 50%;
    font-size: 2rem !important;
    color: #838383;
    cursor: pointer;
}

.content_area {
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: 1px;
    grid-auto-flow: column;
    /*grid-auto-columns: fit-content(calc(250px - var(--gutter) * 0));*/
    overflow-x: auto;
    scroll-snap-type: x proximity;
    /*margin-bottom: calc(-.25 * var(--gutter));*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
}

.content_area::before, .content_area::after {
    content: '';
    width: .2rem;
}

.content_area > li {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.content_area::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1328px) {
    .featured_container {
        width: 85%;
    }
}

@media screen and (max-width: 1278px) {
    .featured_container {
        width: 90%;
    }
}

@media screen and (max-width: 978px) {
    .featured_container {
        width: 98%;
    }

    .featured_content {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 638px) {
    .content_area {
        grid-gap: 1rem;
    }
}