.cart {
    min-height: 85vh;
    display: flex;
    width: 60%;
    margin: 1rem auto;
    flex-direction: column;
    /*align-items: center;*/
}

.cart_holder{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-gap: 1rem;
}

.order_summary{
    margin-top: 1rem;
    width: 100%;
}

.summary_header{
    background: #dcdcdc;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.info_title{
    color: #838383;
}

.item_info{
    display: flex;
    justify-content: space-between;
}

.item_info h6{
    font-weight: bold;
}

.actions{
    text-align: center;
    display: flex;
    min-width: 100px;
    justify-content: space-between;
}

.cart_area {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    align-items: flex-start;
    margin-top: 2rem;
}

.cart_area hr {
    border: 1px solid #dcdcdc;
}

.cart_item{

}

.prod_image{
    width: 5rem!important;
    min-width: 5rem!important;
}

.prod_image img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.prod_name{
    width: 15rem!important;
    min-width: 10rem!important;
}

.delete_btn{
    width: 8rem!important;
    min-width: 8rem!important;
    text-align: center;
}

.price{
    width: 7rem!important;
    min-width: 7rem!important;
}

.prod_desc {
    width: 100%;
}
.badge{
    max-width: 60px!important;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 9px;
}

.prod_desc p {
    padding: 0;
}

.cart_header {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.out_stock, .in_stock {
    color: #ffffff;
    padding: .1rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 10px;
}

.out_stock {
    background: #83838390;
}

.in_stock {
    background: #fbb419;
}

.warning {
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #f64749;
}

.prod_info {
    display: flex;
    overflow-x: hidden;
}

.prod_info img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.prod_desc {
    margin-left: 1rem;
}

.prod_desc h4 {
    font-weight: 500;
}

.prod_desc button {
    color: #ffffff;
    padding: .1rem .5rem;
    border-radius: 2rem;
    background: red;
    display: flex;
    align-items: center;
    border: none;
    font-size: 12px;
    margin-top: .2rem;
    outline: none;
    cursor: pointer;
}

.no_items {
    /*margin: auto;*/
    margin-top: 15rem;
    text-align: center;
}

.no_items svg {
    color: #fbb419;
    font-size: 3rem;
}

.no_items h3 {
    font-size: 25px;
    color: #232323;
}

.no_items li {
    margin: 2rem;
}

.no_items li:hover {
    transform: scale(1.1);
}

.action_buttons li {
    padding: .5rem 3rem;
    border-radius: 2rem;
    background: #fbb419;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.action_buttons li:first-child a{
    color: #ffffff;
}

.action_buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.signin {
    background: transparent !important;
    border: 1px solid #dcdcdc !important;
    color: #838383 !important;
}

.item_actions {
    padding: .6rem 0;
}

.item_actions span {
    border: 1px solid gainsboro;
    margin-right: 2rem;
    padding: .3rem 2rem;
    border-radius: 2px;
    cursor: pointer;
}

.buy_now {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
    background: #fbb419;
    padding: .6rem 1rem;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

@media screen and (max-width: 1088px) {
    .cart {
        width: 70%;
    }
}

@media screen and (max-width: 872px){
    .cart_holder{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 868px) {
    .cart {
        width: 80%;
    }
}

@media screen and (max-width: 698px) {
    .cart {
        width: 90%;
    }

    .cart_area {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 548px) {
    .prod_info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .prod_desc {
        margin: 0;
    }
}

@media screen and (max-width: 441px) {
    .action_buttons {
        flex-direction: column;
    }
}
