.cart {
    min-height: 85vh;
    display: flex;
    width: 60%;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
}

.cart_area {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    align-items: flex-start;
    margin-top: 2rem;
}

.cart_area hr {
    border: 1px solid #dcdcdc;
}

.cart_right, .cart_left {
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .2);
    border-radius: 5px;
    max-height: 85vh;
    overflow-y: auto;
}

.cart_item {
    padding: 1rem;
    align-items: center;
    display: flex;
}

.cart_item img {
    border-radius: 5px;
    object-fit: cover;
    width: 5rem;
    height: 6rem;
    border: 1px solid #dcdcdc;
}

.prod_desc {
    width: 100%;
}

.prod_desc p {
    padding: 0;
}

.cart_header {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.out_stock, .in_stock {
    color: #ffffff;
    padding: .1rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 10px;
}

.out_stock {
    background: #83838390;
}

.in_stock {
    background: #fbb419;
}

.warning {
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #f64749;
}

.cart_table {
    width: 100%;
    margin-top: 3rem;
    border-collapse: collapse;
}

.cart_table tr th {
    background: #ff4500;
    text-align: left;
    color: #ffffff;
}

.cart_table tr th,
.cart_table tr td {
    padding: .5rem;
    border: 1px solid gainsboro;
}

.prod_info {
    display: flex;
    overflow-x: hidden;
}

.cart_table tr {
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .1);
}

.prod_info img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.prod_desc {
    margin-left: 1rem;
}

.prod_desc h4 {
    font-weight: 500;
}

.prod_desc button {
    color: #ffffff;
    padding: .1rem .5rem;
    border-radius: 2rem;
    background: red;
    display: flex;
    align-items: center;
    border: none;
    font-size: 12px;
    margin-top: .2rem;
    outline: none;
    cursor: pointer;
}

.no_items {
    margin: auto;
    text-align: center;
}

.no_items svg {
    color: #fbb419;
    font-size: 3rem;
}

.no_items h3 {
    font-size: 25px;
    color: #232323;
}

.no_items li {
    margin: 2rem;
}

.no_items li:hover {
    transform: scale(1.2);
}

.action_buttons li {
    padding: .8rem 3rem;
    border-radius: 2rem;
    background: #fbb419;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.action_buttons li:first-child a{
    color: #ffffff;
}

.sub_total {
    padding: 1rem .2rem;
    margin: 1rem 0 1rem auto;
    width: 24%;
    border-top: 3px solid #fbb419;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.actions span {
    border: 1px solid #dcdcdc;
    margin: 0 .7rem;
    width: 2rem;
    height: 2.3rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}

.actions input {
    width: 30px;
    padding: .5rem;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    text-align: center;
}

.actions input:focus {
    outline: none;
}

.actions svg {
    background: #dddddd;
    font-size: 20px;
    border-radius: 2rem;
}

.actions svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.actions svg:not(:last-child) {
    background: cornflowerblue;
    color: #ffffff;
}

.actions svg:last-child {
    background: #ff0000;
    color: #ffffff;
}

.sub_total_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.sub_total p {
    font-size: 1.3rem;
    font-weight: bold;
}

.sub_total h4 {
    font-size: 1.2rem;
    position: relative;
}

.sub_total h4::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    width: 100%;
    height: .1rem;
    z-index: 1;
}

.sub_total h4 span {
    font-size: 12px;
}

.action_buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.signin {
    background: transparent !important;
    border: 1px solid #dcdcdc !important;
    color: #838383 !important;
}

.sub_total li {
    margin-top: 4rem;
}

.sub_total li a {
    width: 100%;
    background: #fbb419;
    border-radius: .5rem;
    padding: .8rem 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
}

.item_actions {
    padding: .6rem 0;
}

.item_actions span {
    border: 1px solid gainsboro;
    margin-right: 2rem;
    padding: .3rem 2rem;
    border-radius: 2px;
    cursor: pointer;
}

.buy_now {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
    background: #fbb419;
    padding: 1rem;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

@media screen and (max-width: 1088px) {
    .cart {
        width: 70%;
    }

    .sub_total {
        width: 50%;
    }
}

@media screen and (max-width: 868px) {
    .cart {
        width: 80%;
    }

    .cart_table tr td:nth-child(2) {
        min-width: 10rem;
    }

    .cart_table tr td:nth-child(4) {
        min-width: 8rem;
    }

    .cart_table tr td:nth-child(3),
    .cart_table tr td:nth-child(5) {
        min-width: 6rem;
    }
}

@media screen and (max-width: 698px) {
    .cart {
        width: 90%;
    }

    .cart_area {
        grid-template-columns: 1fr;
    }

    .sub_total {
        width: 52%;
    }
}

@media screen and (max-width: 612px) {
    .cart_item img {
        margin-right: .5rem;
    }

    .item_actions span {
        font-size: 12px;
        padding: .3rem 1rem;
    }
}

@media screen and (max-width: 548px) {
    .sub_total {
        width: 100%;
    }

    .prod_info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .prod_desc {
        margin: 0;
    }
}

@media screen and (max-width: 441px) {
    .action_buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 310px) {
    .cart_item img {
        width: 3rem;
        height: 4rem;
    }
}
